.autor {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #5fa92c
}

.contenidoPost {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.line {
    border-bottom: 1px solid #cbd5e1;
    margin-bottom: 10px;
}
