.contenedorPrincipal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 2rem;
  background-color: var(--bs-body-bg);
  gap: 1rem;
}

.contenedorSecundario {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.feedContainers {
  border: 1px solid var(--bs-border-color);
  background-color: var(--bs-body-bg);
  border-radius: 8px;
  width: 60vw;
  padding: 1rem;
  margin: 1rem;
  box-sizing: border-box;
}

.feedControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}


.contenidoAdicional {
  width: 30vw;
}

.contenidoAdicional .titulo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.contenidoAdicional div {
  width: 85%;
}

.cards{
  width: 100%;
}

@media (max-width: 1400px) {
  .contenedorPrincipal {
    flex-direction: column-reverse;
    align-items: center;
    padding: 1rem;
  }
  .contenedorSecundario {
    width: 100%;
    margin: 5px;
    margin-right: 3px;
  }
  .contenidoAdicional{
    width: 100%;
    margin: 5px;
  }
  .contenidoAdicional .feedContainers{
    width: 100%;
    margin: 5px;
  }
  
  .feedContainers,
  .contenidoAdicional {
    width: 100%;
    margin: 0.5rem 0;
  }

  .feedControl Button {
    width: auto;
    justify-content: flex-end;
  }

}


@media (max-width: 600px) {
  .contenedorPrincipal{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .contenedorSecundario {
    width: 100%;
    margin: 5px;
  }
  .contenidoAdicional{
    width: 100%;
    margin: 5px;
  }

  .btnSeguidos {
    display: inline-flex !important;
    margin-bottom: 0.5rem;
  }

  .btnLayout {
    display: none !important;
  }

  #usuariosSugeridos {
    display: none !important;
  }
}

@media (max-width: 360px) {
  .contenedorPrincipal {
    padding: 0;
  }
}


.my-masonry-grid {
  display: flex;
  margin-left: -1rem; 
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1rem; 
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 1rem;
}
