main {
    background-color: #f0f2f5;
    min-height: 100vh;
    padding-top: 160px;
    padding-left: 20px;
    padding-right: 20px;
}

.divForm {
    width: 100%;
    max-width: 100%;
    padding: 40px;
}

h2 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
}

p, .link {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
}


.loginCardContainer {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
    width: 90%;
}

.mobileLogo {
    display: none;
    text-align: center;
    margin-bottom: 20px;
}

.mobileLogo img {
    width: 120px;
    border-radius: 50%;
}

.titulo {
    text-align: center;
    margin-bottom: 80px;
}

.titulo h1 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #5fa92c;
}

main > .container {
    flex-direction: column;
}

@media (max-width: 768px) {
    .mobileLogo {
        display: block;
    }

    .divForm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
