main {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.divForm {
    width: 100%;
    max-width: 100%;
    padding: 40px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

p, .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
}


.loginCardContainer {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
    width: 90%;
}

