.mainContainer{
  display: flex;
  align-items: center;
  gap: 20px;
  /* background-color: red; */
}

#navImg{
  padding-left: 10px;
}

.navLinks{
  display: flex;
  gap: 15px;
  justify-content: center; /* centra los elementos del nav en el eje horizontal */
  align-items: center;
  flex: 1; /* permite que el nav ocupe el espacio intermedio */
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.navButton{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  padding: 0.5rem 0;
  transition: color 0.15s ease, opacity 0.15s ease;
}

.navButton:hover {
  color: #5fa92c !important;
  opacity: 0.95 !important;
}


.userContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
  gap: 30px;
  padding-right: 10px;
  /* background-color: turquoise; */
}

.userIcon{
  height: 40px;
  width: 40px;
}

.iconContainer :hover {
  color: #5fa92c !important;
  opacity: 0.95 !important;
  cursor: pointer;
}

.Navbar .Navbar.Brand :hover {
  color: #5fa92c;
  opacity: 0.95;
} 