
.crearPostContainer{
  display: flex;
  flex-direction: row;
  align-items: space-between;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 95%;
}

.postContenido{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: aqua; */
  width: 100%;
}

.nuevoPostForm {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background-color: red; */
}

.userImage{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: solid black 2px;
  margin-right: 1rem;
  border-color: #ccc;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userImage p {
  color: black;
  font-weight: bold;
}

.descripcion {
  display: flex;
  background-color: yellow;
}