
.info {
    margin-top: 4rem;
    background-color: white;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 12px;
    display: inline-block;
    text-align: left;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.info h2 {
    font-size: 1.8rem;
    color: #5fa92c;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.info ul {
    list-style: none;
    padding: 0;
}

.info li {
    font-size: 1.1rem;
    margin: 0.8rem 0;
    color: #374151;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
